body {

  .container {
    text-align: center;

    h3 {
      font-family: 'Shrikhand', cursive;
    }
    h5 {
      width: 20%;
      border-top: 0.5px dashed gray;
      border-bottom: 0.5px dashed gray;
      padding: 0.5rem 0;
      margin: 3rem auto;
    }
  }
  form {
    margin: 0 auto;
    input {

      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }
  ul {
    list-style: none;

    li {
      margin: 3rem;

      &:first-child {
        margin-top: 5rem;
      }

      span {
        border: 1px solid black;
        display: block;
        width: 25%;
        margin: 0;



        box-sizing: border-box;
      }
    }
  }
}
